# System
.DS_Store
u8
-

# Ruby
.bundle
vendor/bundle
vendor/bundler
.byebug_history
.irb_history

# Editor
*.sublime-project
*.sublime-workspace
*.swo
*.swp
Session.vim
.vscode
TAGS

# Project local
__bin
__data
.envrc
