[user]
  name = upinetree
  email = upinetree@gmail.com

[color]
  ui = auto

[core]
  excludesfile = ~/.gitignore
  precomposeunicode = true
  quotepath = false
  editor = vim
  pager = delta

[fetch]
  prune = true

[pull]
  rebase = true
  prune = true

[push]
  default = current

[credential]
	helper = osxkeychain

[alias]
  # branch manipulation
  b = branch
  co = checkout
  sw = switch
  main = "!git symbolic-ref refs/remotes/origin/HEAD | cut -d'/' -f4"
  sync-main = "!git remote set-head origin --auto"
  sm = "!git switch $(git main)"
  f = fetch
  fm = "!git fetch origin $(git main)"
  p = pull
  b-tidy = "!git branch --merged | grep -v 'master' | xargs git branch -d"
  rebase-latest = "!git fm && git rebase origin/master"

  # snapshotting
  s = status -sbu
  a = add -p
  aa = !git add -u . && git s
  ao = "!git ls-files --others --exclude-standard | fzf -m --preview '{ bat --style=numbers --color=always --line-range :500 {} }' | xargs git add && git s"
  ci = commit -v
  cm = commit -m
  ca = commit --amend -v
  can = commit --amend --no-edit
  r = reset
  res = restore

  # sharing
  pushf = push --force-with-lease

  # inspection
  df = diff --color
  dfc = diff --color --cached
  l = log --color --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  lg = l --graph
  lga = lg --all
  lm = l --merges
  ls = log --stat
  lp = log -p --color
  sh = show --color

  # github
  open = "!gh repo view -w"
  openpr = "!gh pr view -w"

[ghq]
  # ghq.root: the last one becomes primary one.
  root = ~/go/src
  root = ~/repo

[pager]
	branch = false

[interactive]
  diffFilter = delta --color-only

[diff]
	compactionHeuristic = true
  colorMoved = default

[delta]
  plus-style = syntax auto
  minus-style = syntax auto
  syntax-theme = Dracula
  navigate = true
