[user]
  name = upinetree
  email = upinetree@gmail.com

[color]
  ui = auto

[core]
  excludesfile = ~/.gitignore
  precomposeunicode = true
  quotepath = false
  editor = vim

[fetch]
  prune = true

[pull]
  rebase = true
  prune = true

[push]
  default = current

[credential]
	helper = osxkeychain

[alias]
  # branch manipulation
  br = branch
  sw = switch
  re = restore
  ft = fetch
  co = checkout
  cob = checkout -b
  br-clean = "!git branch --merged | grep -v 'master' | xargs git branch -d"

  # snapshotting
  st = status -sbu
  ad = add
  adp = add -p
  ada = add -A
  ci = commit -v
  cm = commit -m
  cam = commit --amend -v

  # sharing
  pushf = push --force-with-lease

  # inspection
  df = diff
  dfc = diff --cached
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  lga = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --all
  ls = log --stat
  lp = log -p --color
  sh = show --color

  # hub
  see = browse
  openpr = "!f() { hub browse -- `git log --merges --oneline --reverse --ancestry-path $1...master | grep 'Merge pull request #' | head -n 1 | cut -f5 -d' ' | sed -e 's%#%pull/%'`; }; f"

[ghq]
  root = ~/repo

[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
	branch = false

[interactive]
	diffFilter = diff-highlight

[diff]
	compactionHeuristic = true
